.busines-title-featureCard {
  font-family: "Poppins", sans-serif;
  font-weight: 600; /* Equivalent to font-semibold */
  color: #ffffff; /* Equivalent to text-white */
  font-size: 18px;
  line-height: 23px; /* Equivalent to leading-[23px] */
  margin-bottom: 0.25rem; /* Equivalent to mb-1 */
}

.busines-content-featureCard {
  font-family: "Poppins", sans-serif;
  font-weight: normal; /* Equivalent to font-normal */
  color: #f5f5f5; /* Equivalent to text-dimWhite */
  font-size: 16px;
  line-height: 24px; /* Equivalent to leading-[24px] */
  margin-bottom: 0.25rem; /* Equivalent to mb-1 */
}

.busines-container-title-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 0.75rem; /* Equivalent to ml-3 */
}

.busines-image-featureCard {
  width: 50%;
  height: 50%;
  object-fit: contain; /* Equivalent to object-contain */
}
.image-busines-container {
  width: 64px;
  height: 64px;
  border-radius: 9999px; /* Equivalent to rounded-full */
  background-color: rgba(9, 151, 124, 0.1); /* Equivalent to bg-dimBlue */
  display: flex;
  justify-content: center;
  align-items: center; /* Equivalent to items-start */
}

.featureCard-container {
  display: flex;
  flex-direction: row; /* Equivalent to flex-row */
  justify-content: center;
  align-items: center;
  padding: 1.5rem; /* Equivalent to p-6 */
  border-radius: 20px; /* Equivalent to rounded-[20px] */
  margin-bottom: 1.5rem;
}

.featureCard-container:hover {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}
