.preview-footer-container {
  margin-left: 5%;
  margin-top: 10%;
  width: 90%; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding-top: 1.5rem; 
  border-top: 1px solid #3f3e45; 
}

.preview-footer-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}
