.preview-contactUs-container-first {
  display: flex;
  justify-content: center;
  text-align: center;
}
.preview-contactUs-component {
  color: white;
  width: 40%;
  padding: 2rem 2rem 5rem 2rem;
  border-radius: 16px;
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.contactUs-input-container {
  margin-bottom: 2%;
  margin-right: 6%;
  background-color: inherit;
}
.contactUs-input {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  padding: 0.95rem;
  border: 2px;
  border-radius: 7px;
  border-color: black;
  background-color: #edf2f8;
  opacity: 0.5;
  font-family: "DM Sans", sans-serif;
  color: black;
  outline: none;
  font-size: 1rem;
  text-align: left;
  line-height: 1.5;
}
.textareaContact {
  opacity: 0.5;
  width: 88%;
  height: 10rem;
  padding: 0.95rem;
  border: 2px;
  border-radius: 7px;
  border-color: black;
  background-color: #edf2f8;
  font-family: "DM Sans", sans-serif;
  color: black;
  outline: none;
  font-size: 1rem;
  text-align: left;
  line-height: 1.5;
}

.contactUs-paragraf1 {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 800;
  line-height: 80px;
  margin: 0;
  font-size: 55px;
  margin-bottom: 2rem;
  margin-top: 20px;
}

.contactUs-paragraf2 {
  font-weight: 600; /* Semibold */
  font-size: 40px; /* For xs breakpoint */
  line-height: 76.8px; /* For xs breakpoint */
  color: #ffffff; /* White */
  width: 100%;
  margin-bottom: 10px;
  margin-top: 15px;
}

.contactUs-button {
  margin-left: 3%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactus-error {
  color: red;
}
