 /* .events-day {
  background: #7684a3; 
  height: 73%;
  width: 20%;
  position: relative;
  transform: translateX(0%);
  transition: 1.4s ease-in;
  overflow: auto;
}

.events-day-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.event-item {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid;
  align-items: center;
  cursor: pointer;
}
.event-item:hover {
  background: #687ba3;
  background: #2081a8;
} */


 .events-day {
  background: linear-gradient(to right, #cae0f9, #a3c1e8);
  height: 55%;
  width: 20%; 
  position: relative;
  top: 25px;
  left: 5px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1); 
  overflow: auto;
  transition: 0.3s ease-in-out; 
}

.events-day-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px; 
  border-bottom: 1px solid #ccc; 
 
}

.event-item {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 3px;
  margin: 5px 0; 
  margin: 10px;
  border-radius: 20px; 
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1); 
  cursor: pointer;
  transition: 0.3s ease-in-out; 

  background: #9cbef4;

}

.event-item:hover {
  transform: scale(1.05);
  background:   #add8e6
}



.event-time {
 font-size: 17px;; 
 /* color: #666;  */
 margin-left: auto; 
 font-style: italic;

}

.event-title {

  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  margin-left: 30px; 
  margin-right: auto; ; 
  
}

.no-events {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  color: #666;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}