/* .events-day {
  background: #7684a3; 
  height: 73%;
  width: 20%;
  position: relative;
  transform: translateX(0%);
  transition: 1.4s ease-in;
  overflow: auto;
}

.events-day-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.event-item {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid;
  align-items: center;
  cursor: pointer;
}
.event-item:hover {
  background: #687ba3;
  background: #2081a8;
} */

.events-day {
  /* background: linear-gradient(to right, #2b3248, #7b88cc); */

  height: 54%;
  width: 20%;
  position: relative;
  margin-top: 10%;
  background: rgba(0, 0, 0, 8);
  border-radius: 20px;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  /* transition: 0.3s ease-in-out; */
  color: white;
}

.events-day-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.event-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  margin: 5px 0;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s ease-in-out;

  background: #7480c0;
}

.event-item:hover {
  transform: scale(1.05);
  background: #e0e0e0;
}

.event-time {
  font-size: 17px;
  /* color: #666;  */
  margin-left: auto;
  font-style: italic;
}

.event-title {
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  margin-left: 35px;
  margin-right: auto;
}

.no-events {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  color: #666;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}

.event-icon {
  margin-left: 10px;
}

.events-day::before {
  content: "";
  position: absolute;

  top: -173px;
  left: -149px;
  width: 200%;
  height: 196%;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    silver
  );
  border-radius: 20px;
  animation: animatess 4s linear infinite;
}

.events-day::after {
  content: "";
  position: absolute;

  top: -173px;
  left: -149px;
  width: 200%;
  height: 196%;
  background-image: conic-gradient(transparent, transparent, transparent, gold);
  border-radius: 20px;
  animation: animatess 4s linear infinite;
  animation-delay: -2s;
}

.span1 {
  position: absolute;
  inset: 5px;
  border-radius: 16px;
  background: linear-gradient(to right, #2b3248, #7b88cc);
  z-index: 1;
  overflow: auto;
}

@keyframes animatess {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
