.events-day {
  background: #7684a3;
  height: 82%;
  width: 20%;
  position: relative;
  transform: translateX(0%);
  transition: 1.4s ease-in;
}

.events-day-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
