.modal-invitation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000d6;
  position: absolute;
  z-index: 222;
}

.modal-content-invitations {
  height: 90%;
  width: 90%;
  background: linear-gradient(to right, #2b3248, #8a8d9d);
  border-radius: 30px;
  color: white;
  position: relative;
  overflow: hidden;
}

.modal-enter-invitation {
  transform: translatex(-100%);
  opacity: 0;
}

.modal-enter-active-invitation {
  transform: translateX(0);
  opacity: 1;
  transition: opacity 1500ms, transform 1500ms ease-in-out;
}
.modal-exit-invitation {
  transform: translateX(0);
}

.modal-exit-active-invitation {
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 1500ms, transform 1500ms ease-in-out;
}

.title-invitation {
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  margin-top: -110px;
  padding: 10px;
  text-align: center;
}

.data-grid {
  font-weight: bold;
  font-style: italic;
}

.modal-content-invitations::before {
  content: "";
  position: absolute;
  top: -66%;
  left: -61%;
  width: 222%;
  height: 241%;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    silver
  );
  border-radius: 20px;
  animation: animatess 4s linear infinite;
}

.modal-content-invitations::after {
  content: "";
  position: absolute;
  top: -66%;
  left: -61%;
  width: 222%;
  height: 241%;
  background-image: conic-gradient(transparent, transparent, transparent, gold);
  border-radius: 20px;
  animation: animatess 4s linear infinite;
  animation-delay: -2s;
}

.span123 {
  position: absolute;
  inset: 15px;
  border-radius: 26px;
  background: linear-gradient(to right, #2b3248, #7b88cc);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes animatess {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
