.bg {
  /* background: url('../../images/mainBg.jpg') no-repeat;
  background-size: cover; */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -3;
  -webkit-overflow-scrolling: touch;
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: transform;
}

.bg::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
}

.bg.active::after {
}

.bg:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

@keyframes sf-fly-by-1 {
  from {
    transform: translateZ(-600px);
    opacity: 0.5;
  }

  to {
    transform: translateZ(0);
    opacity: 0.5;
  }
}

@keyframes sf-fly-by-2 {
  from {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }

  to {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
}

@keyframes sf-fly-by-3 {
  from {
    transform: translateZ(-1800px);
    opacity: 0.5;
  }

  to {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
}

.star-field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 600px;
  -webkit-perspective: 600px;
  z-index: -1;
}

.star-field .layer {
  box-shadow: -411px -476px 5px 5px #cccccc, 777px -407px #d4d4d4,
    -387px -477px 5px 5px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7,
    892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc,
    647px 423px whitesmoke, 183px 389px 5px 5px #c7c7c7, 524px -237px #f0f0f0,
    679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed,
    81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8,
    -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
    440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc,
    -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb,
    449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px 5px 5px #e6e6e6,
    952px -70px #e3e3e3, -869px -29px #dbdbdb, 502px 80px #dedede,
    764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3,
    -325px -263px 5px 5px #c2c2c2, 755px -447px #c7c7c7,
    729px -177px 5px 5px #c2c2c2, -682px -391px 5px 5px #e6e6e6,
    554px -176px #ededed, -85px -428px #d9d9d9, 714px 55px #e8e8e8,
    359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px 5px 5px #fcfcfc,
    74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf,
    -112px 287px #c9c9c9, -853px 79px #d6d6d6, 828px 475px 5px 5px #d6d6d6,
    -681px 13px 5px 5px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa,
    -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke,
    -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px 5px 5px #fcfcfc,
    624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed,
    70px -534px #cccccc, -23px 510px 5px 5px #cfcfcf, -652px -237px whitesmoke,
    -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9,
    -362px 97px #c2c2c2, 563px 47px 5px 5px #dedede, 313px 475px #e0e0e0,
    839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2,
    -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white,
    170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
    -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6,
    808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px 5px 5px #cccccc,
    -380px 74px #cfcfcf, -369px -60px 5px 5px #f7f7f7, 47px -495px #e3e3e3,
    -383px 368px 5px 5px #f7f7f7, 419px 288px 5px 5px #d1d1d1,
    -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px 5px 5px whitesmoke,
    -703px 375px #d6d6d6, 392px 520px 5px 5px #d9d9d9,
    -492px -60px 5px 5px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4,
    -911px -277px #c9c9c9, 200px 100px #ffffff, -300px -150px #ffffff,
    400px 250px #ffffff, -500px 300px #ffffff, 600px -200px #ffffff,
    -700px -350px #ffffff, 800px 400px #ffffff, -900px 450px #ffffff,
    1000px -500px #ffffff, -1100px -550px #ffffff,
    /* Additional stars on the left side */ -1200px 100px 10px 5px #ffffff,
    -1300px -250px 10px 5px #ffffff, -1400px 350px 10px 5px #ffffff,
    -1500px -400px 10px 5px #ffffff, -1600px 200px 10px 5px #ffffff,
    -1700px -150px 10px 5px #ffffff, -1800px 450px 10px 5px #ffffff,
    -1900px -500px 10px 5px #ffffff,
    /* Additional stars on the right side */ 1200px 100px 10px 5px #ffffff,
    1300px -250px 10px 5px #ffffff, 1400px 350px 10px 5px #ffffff,
    1500px -400px 10px 5px #ffffff, 1600px 200px 10px 5px #ffffff,
    1700px -150px 10px 5px #ffffff, 1800px 450px 10px 5px #ffffff,
    1900px -500px 10px 5px #ffffff,
    /* Additional stars on the top side */ -100px -600px 10px 5px #ffffff,
    150px -700px #ffffff, -250px -800px 10px 5px #ffffff, 300px -900px #ffffff,
    -200px -1000px 10px 5px #ffffff, 350px -1100px #ffffff,
    -400px -1200px 10px 5px #ffffff, 450px -1300px #ffffff,
    -500px -1400px 10px 5px #ffffff, 550px -1500px #ffffff,
    /* Additional stars on the bottom side */ -100px 600px 10px 5px #ffffff,
    150px 700px #ffffff, -250px 800px 10px 5px #ffffff, 300px 900px #ffffff,
    -200px 1000px #ffffff, 350px 1100px 10px 5px #ffffff, -400px 1200px #ffffff,
    450px 1300px 10px 5px #ffffff, -500px 1400px #ffffff,
    550px 1500px 10px 5px #ffffff;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 2px;
}

.star-field .layer:nth-child(1) {
  animation: sf-fly-by-1 17s alternate infinite;
}

.star-field .layer:nth-child(2) {
  animation: sf-fly-by-2 20s alternate infinite;
}

.star-field .layer:nth-child(3) {
  animation: sf-fly-by-3 5s alternate infinite;
}

@media (max-width: 1200px) {
  .star-field .layer:nth-child(1) {
    animation: none;
  }

  .star-field .layer:nth-child(2) {
    animation: none;
  }

  .star-field .layer:nth-child(3) {
    animation: none;
  }
}
