.cursor-div {
  cursor: pointer;
  position: absolute;
  top: 12px;
  left: 10px;
  z-index: 1111111;
}

.menu-hidden {
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: ease-out 1.5s;
  transform: translateX(-100%);
  z-index: 1;
}

.burger-menu {
  width: 15%;
  height: 100vh;
  position: fixed;
  z-index: 411111;
  background: #080741;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0px;
  transform: translateX(0%);
  transition: ease-out 1.5s;
}
.burger-unclicked {
  width: 31px;
  height: 4px;
  margin-top: 6px;
  /* background: white; */
  background: #f0fff0;
  cursor: pointer;
  transition: transform 1.5s ease-out;
}

.burger-clicked {
  width: 31px;
  height: 4px;
  /* background: white; */
  background: #f0fff0;
  margin-left: 10px;
  cursor: pointer;
  transition: transform 1.5s ease-out;
}

.burger-clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.75em, 1.3em);
  transition: ease-out 0.5s;
}

.burger-clicked:nth-child(2) {
  transform: scale(0);
  transition: ease-out 0.5s;
}

.burger-clicked:nth-child(3) {
  transform: rotate(135deg) translate(0.99em, -0.3em);
  transition: ease-out 0.5s;
}

.userData {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  transform: translateX(0%);
  transition: ease 3.5s;
}

.user-img {
  width: 150px;
  height: 150px;
  border-radius: 80%;
}

.user-email {
  font-size: 14px;
  font-style: italic;
}

.invitations {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 20%;
  background: red;
}
