.calendar {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  border: 1px solid;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
  height: 100%;
  margin-top: 2px;
}

thead {
  background-color: #f2f2f2;
}

th {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

td[day] {
  background-color: #a0d3e8;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

td[day]:hover {
  transform: scale(1.3);
  background-color: #d49ed4;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 768px) {
  td,
  th {
    font-size: 12px;
  }
}
