/*Comment last version*/

/* .calendar {
  position: relative; 
  width: 70%;
  height: 70%;
  background: #f0fff0;
  display: flex;
  border-radius: 7px;
  justify-content: flex-start;
}

.calendar.month {
  flex-direction: column;
  align-items: center;
}

.calendar.week {
  flex-direction: column;
  align-items: center;
  height: 80%;
}

.calendar-week-list {
  display: flex;
  width: 97%;
  height: 88%;
  justify-content: space-around;
}

 .week-days-date {
  width: 14.28%;
  border: 1px solid;
  margin: 0;
  text-align: center;
  font-weight: bold;

} 

.week-day {
  text-align: Center;
  height: 5%;

}

.week-date {
  height: 90%;
}
.calendar.year {
  justify-content: space-around;
  flex-flow: wrap;
  align-items: center;
  overflow: overlay;
  overflow-x: clip;
}

.calendar::before,
.calendar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: #d3d5d6d7;
  transform: translateY(-50%);
}

.calendar::before {
  height: 94%;
  left: calc(100% + 12px);
  background-color: rgb(153, 153, 153);
}

.calendar-header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.img {
  position: relative;
  width: 300px;
  height: 300px;
  margin-top: 6%;
}

thead {
  background-color: transparent;
}

th {
  padding: 20px;
  border: none;
  color: orange;
}

.day {
  padding: 20px;
  border: none;
}

td.day {
  background-color: transparent;
  font-weight: normal;
  cursor: pointer;
  transition: none;
}

td.day:hover {
  transform: none;
  background-color: #e0e0e0; 
}

td.today {
  border-radius: 50%;
  font-weight: bold;
  color: white;
  background-color: #a3bb98;
}

@media only screen and (max-width: 400px) {
  .calendar {
    width: 100%;
    height: 100%;
  }

  th,
  td {
    padding: 10px;
  }
}
 */

.calendar {
  position: relative;
  /* max-width: 1200px; */
  width: 80%;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.calendar {
  position: relative;
  width: 70%;
  height: 70%;
  background: white;
  display: flex;
  border-radius: 7px;
  justify-content: flex-start;
}

.calendar-week-list {
  display: flex;
  width: 80%;
  height: 88%;
  flex-wrap: nowrap;
  overflow: hidden;

  justify-content: space-around;
}

.week-days-date {
  flex: 1 0 12.28%;
  border: 1px solid #ccc;
  margin: 0;
  text-align: center;
  font-weight: bold;
  position: relative;
}

.week-day {
  text-align: center;
  height: 5%;
}

.week-date {
  position: relative;
  height: 50%;
  margin-top: 5px;
}

.calendar::before,
.calendar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: #d3d5d6d7;
  transform: translateY(-50%);
}

.calendar::before {
  height: 94%;
  left: calc(100% + 12px);
  background-color: rgb(153, 153, 153);
}

.calendar-header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img {
  position: relative;
  width: 320px;
  height: 320px;
}

thead {
  background-color: transparent;
}

th {
  padding: 20px;
  border: none;
  color: orange;
}

.day {
  padding: 20px;
  border: none;
}

td.day {
  background-color: transparent;
  font-weight: normal;
  cursor: pointer;
  transition: none;
  text-align: center;
}

td.day:hover {
  transform: none;
  background-color: #e0e0e0;
}

td.today {
  border-radius: 50%;
  font-weight: bold;
  color: white;
  background-color: #a3bb98;
}

@media only screen and (max-width: 400px) {
  .calendar {
    width: 80%;
    height: 80%;
  }

  .img {
    width: 100%;
    height: auto;
    margin-top: 60px;
    margin-left: 5px;
  }

  th,
  td {
    padding: 10px;
  }
}

.time-grid {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.time-grid-item {
  border-bottom: 1px solid #ccc;
  color: #7077a1;
  /* color: transparent; */
  text-align: left;
  font-size: 12px;
}

.time-grid-item:first-child {
  border-top: none;
}
