.calendar {
  position: relative;
  /* max-width: 1200px; */
  width: 80%;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.calendar {
  position: relative;
  width: 70%;
  height: 70%;
  background: linear-gradient(to right, #2b3248, #7b88cc);
  display: flex;
  border-radius: 7px;
  justify-content: flex-start;
  z-index: 3;
  color: white;
  background: rgba(0, 0, 0, 8);
  overflow: hidden;
  border-radius: 26px;
}

.calendar-week-list {
  display: flex;
  width: 80%;
  height: 88%;
  flex-wrap: nowrap;
  overflow: hidden;

  justify-content: space-around;
}

.week-days-date {
  flex: 1 0 12.28%;
  border: 1px solid #ccc;
  margin: 0;
  text-align: center;
  font-weight: bold;
  position: relative;
}

.week-day {
  text-align: center;
  height: 5%;
}

.week-date {
  position: relative;
  height: 50%;
  margin-top: 5px;
}

.calendar-header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img {
  position: relative;
  width: 320px;
  height: 320px;
}

thead {
  background-color: transparent;
}

th {
  padding: 20px;
  border: none;
  color: orange;
}

.day {
  padding: 20px;
  border: none;
}

td.day {
  background-color: transparent;
  font-weight: normal;
  cursor: pointer;
  transition: none;
  text-align: center;
}

td.day:hover {
  transform: none;
  background-color: #e0e0e0;
}

td.today {
  border-radius: 50%;
  font-weight: bold;
  color: white;
  background-color: #a3bb98;
}

@media only screen and (max-width: 400px) {
  .calendar {
    width: 80%;
    height: 80%;
  }

  .img {
    width: 100%;
    height: auto;
    margin-top: 60px;
    margin-left: 5px;
  }

  th,
  td {
    padding: 10px;
  }
}

.time-grid {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.time-grid-item {
  border-bottom: 1px solid #ccc;
  color: #7077a1;
  /* color: transparent;  */
  text-align: left;
  font-size: 12px;
}

.time-grid-item:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.time-grid-item:first-child {
  border-top: none;
}

.time-grid-item.selected {
  background-color: #e0e0e0;
}

::selection {
  background: none;
}

.time-grid-item::selection {
  background: none;
}

/**/
/* .css-i4bv87-MuiSvgIcon-root {
  color: white;
} */

.calendar::before {
  content: "";
  position: absolute;
  top: -70%;
  left: -65%;
  width: 239%;
  height: 258%;

  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    silver
  );
  border-radius: 20px;
  animation: animatess 4s linear infinite;
  z-index: -1;
}

.calendar::after {
  content: "";
  position: absolute;
  top: -70%;
  left: -65%;
  width: 239%;
  height: 258%;

  background-image: conic-gradient(transparent, transparent, transparent, gold);
  border-radius: 20px;
  animation: animatess 4s linear infinite;
  animation-delay: -2s;
  z-index: -1;
}

.span2 {
  position: absolute;
  inset: 10px;
  border-radius: 26px;
  background: linear-gradient(to right, #2b3248, #7b88cc);
  z-index: 1;
}

.span21 {
  position: absolute;
  inset: 10px;
  border-radius: 26px;
  background: linear-gradient(to right, #2b3248, #7b88cc);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes animatess {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
