.signIn-signUp-button-header {
  border-width: 2px;
  color: #ffffff;
  border-color: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #0d1930;
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-right: 10px;
}

.signIn-signUp-button-header:hover {
  color: #ffffff;
}
