.preview-container {
  position: absolute;
  padding-top: 50px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  background-color: black;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px; 
  background: white;
}

.background-stars {
  position: relative;
}
