label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #1a202c;
}

input {
  outline: none;
  display: block;
  padding: 0.75rem;
  max-width: 350px;
  min-width: 350px;
  font-size: 0.875rem;
  color: #1a202c;
  background-color: #f8fafc;
  border-radius: 0.375rem;
  border: 1px solid #e2e8f0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  focus: ring-primary-500;
  focus: border-primary-500;
}
