.line-with-text {
  margin-top: 30px;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-items: center;
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: black;
  margin: 0 10px;
}

.or-text {
  color: black;
}

.sign-up-container {
  display: flex;
  margin-top: 15px;
}

.link-to-login {
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
