.content-container p {
  margin-top: 3px;
  margin-bottom: 3px;
  padding-bottom: 0;
  padding: 0;
  color: #333;
  font-size: 1.3rem;
}

.content .requirement-list {
  padding-top: 0;
  margin-top: 1px;
}
