.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background: #64b5f6; */
  background: url("https://source.unsplash.com/1600x900/?nature,weather");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}

.header {
  position: absolute;
  top: 0;
  width: 87%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  /* background: #64b5f6; */
  background: url("https://source.unsplash.com/1600x900/?nature,weather");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(0%);
  transition: ease-out 1.5s;
}

.burger-open {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(8%);
  transition: ease-out 1.5s;
}

.MuiSelect-select.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 14.5px 59px;
}
.MuiSelect-select.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input:hover {
  padding: 14.5px 59px;
  border: 0px;
}

.home-calendar-today-regulate-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 18vh;
  right: 8svh;
  z-index: 15;
  gap: 1rem;
}
.home-page-container {
  position: relative;
  width: 100%;
  height: 100vh;
}
