.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background: #64b5f6; */
  background: #9cbef4;
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}

.header {
  position: absolute;
  top: 0;
  width: 87%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  /* background: #64b5f6; */
  background: #9cbef4;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(0%);
  transition: ease-out 1.5s;
}

.burger-open {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(8%);
  transition: ease-out 1.5s;
}

.MuiSelect-select.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 14.5px 59px;
  /* color: black; */
  color: aqua;

  border: 1px solid rgba(25, 118, 210, 0.5);
}
