.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #5d4037;
}

.snow,
.snow:after,
.snow:before {
  content: "";
  position: absolute;
  z-index: -19;
  top: -650px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(4px 4px at 100px 50px, #fff, transparent),
    radial-gradient(6px 6px at 100px 50px, #fff, transparent),
    radial-gradient(6px 6px at 200px 150px, #fff, transparent),
    radial-gradient(3px 3px at 300px 250px, #fff, transparent),
    radial-gradient(4px 4px at 400px 350px, #fff, transparent),
    radial-gradient(6px 6px at 500px 100px, #fff, transparent),
    radial-gradient(3px 3px at 50px 200px, #fff, transparent),
    radial-gradient(4px 4px at 150px 300px, #fff, transparent),
    radial-gradient(6px 6px at 250px 400px, #fff, transparent),
    radial-gradient(3px 3px at 350px 500px, #fff, transparent);

  background-size: 650px 650px;
  animation: snowAnim 3s linear;
  animation-iteration-count: infinite;
}

.snow:after {
  margin-left: -250px;
  opacity: 0.5;
  filter: blur(2px);
  animation-direction: reverse;
  animation-duration: 6s;
}

.snow:before {
  margin-left: -350px;
  opacity: 0.7;
  filter: blur(1px);
  animation-direction: reverse;
  animation-duration: 9s;
}

@keyframes snowAnim {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(650px);
  }
}

.header {
  position: absolute;
  top: 0;
  width: 87%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  background: #5d4037;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(0%);
  transition: ease-out 1.5s;
}

.burger-open {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(8%);
  transition: ease-out 1.5s;
}

.MuiSelect-select.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 14.5px 59px;
  /* color: black; */
  color: aqua;

  border: 1px solid rgba(25, 118, 210, 0.5);
}
