.modal {
  width: 100%;
  height: 100%;
  z-index: 1111;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: absolute;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  width: 25%;
  height: 50%;
  /* background: burlywood; */
  /* background: #DBCC95; */
  /* background: #A4D0A4; */
  /* background:#F7E1AE; */
  background: #A3BB98;
  cursor: grab;
}


.modal-enter {
  transform: translateY(-50%);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 1500ms, transform 1500ms ease-in-out;
}
.modal-exit {
  transform: translateY(0);
}

.modal-exit-active {
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 1500ms, transform 1500ms ease-in-out;
}
