.birth-label {
  margin-top: 24px;
  margin-bottom: 2px;
  margin-left: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.select-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
