.snow {
  position: fixed;
  z-index: -1; /* Ensure snow appears behind other elements */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; /* Make sure the snow doesn't interfere with mouse events */
}

.snowflake {
  position: absolute;
  background: #fff; /* Snowflake color */
  border-radius: 50%;
}

/* Define the animation for snowflakes */
@keyframes snowfall {
  0% {
    top: -10px; /* Start position from top */
  }
  100% {
    top: 100vh; /* End position at bottom */
  }
}
