.snow {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.snowflake {
  position: absolute;
  background: #fff;
  border-radius: 50%;
}

@keyframes snowfall {
  0% {
    top: -10px;
  }
  100% {
    top: 100vh;
  }
}
